/**
 * @name Nier Automata
 * @author DevilBro
 * @version 1.0.5
 * @description Allows you to use a background image without greatly altering the basic look of Discord.
 * @source https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/BasicBackground/BasicBackground.theme.css
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BasicBackground
 * @authorId 278543574059057154
 * @BDEditor BasicBackground
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css');

:root {
  --background: url('https://i.imgur.com/bySip6E.png');
  --backgroundsize: 120%;
  --backgroundposition: center;
  --backgroundblur: 0px;
  --popout: var(--background);
  --popoutsize: auto;
  --backgroundposition: center;
  --popoutblur: 0px;
  --transparencycolor: 0,0,0;
  --accentcolor: 77,75,64;
  --backdrop: rgb(255,255,255,0.85);
  --textshadow: rgb(0,0,0,0);
  --transparencyalpha: 0;
  --messagetransparency: 0.1;
  --guildchanneltransparency: 0.06;
  --chatinputtransparency: 0;
  --memberlisttransparency: 0;
  --font: Whitney;
  --textbrightest: 220,216,192;
  --textbrighter: 220,216,192;
  --textbright: 65,61,30;
  --textdark: 79,76,53;
  --textdarker: 233,227,178;
  --textdarkest: 143,140,113;
  --settingsicons: 1;
  --backdropsize: var(--background-size);
  --backdropblur: 0px;
  --version1_0_5: none;
}

/* Any custom CSS below here */


